
input{
    margin-top:5px;
}

table {
    display: inline-block;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 0 6px #c3f1e5;
    color: #452F21;
    margin-left: 20px;
    margin-top:30px;
}

thead {
    position: sticky;
    top: 0;
}

th {
    padding: 10px 8px;
    background: white;
}

tr:nth-child(odd) {
    background: white;
}

tr:nth-child(even) {
    background: #ddece9;
}

table th:first-child {
    border-top-left-radius: 20px;
}

table th:last-child {
    border-top-right-radius: 20px;
}

td {
    border-top: 1px solid #90f4da;
    padding: 5px;
}

table td:first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

table td:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 1px;
    outline: none;
    border: 1px solid #F18230;
    border-radius: 25px;
    height: 30px;
    line-height: 0;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

    .btn span {
        display: block;
        box-sizing: border-box;
        padding: 0 25px;
        height: 30px;
        line-height: 25px;
        border: 1px solid #F18230;
        border-radius: 25px;
        font-size: 14px;
        color: #FFFFFF;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #F18230;
        text-align: center;
        font-weight: 600;
    }

    .btn:focus-visible {
        box-shadow: 0 0 0 3px lightskyblue;
    }

    .btn:hover span {
        background-color: #fba768
    }

    .btn:active span {
        background-color: #c17237 !important;
    }

    .btn:disabled {
        opacity: 0.65;
        pointer-events: none;
    }
.zero {
    box-shadow: 0 0 0 0px #c3f1e5;
    text-align:center
}
    .zero table {
        text-align: center
    }
    .zero td {
    border-top: 0px solid #90f4da;
    padding: 10px;
}
    
