<CascadingAuthenticationState>
    <CascadingBlazoredModal>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        
            <Authorizing>
                <text> Загрузка ... </text>
            </Authorizing>
            <NotAuthorized>
                <viewBlazor.Components.Login/>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Страница не найдена</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Такой страницы нет</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingBlazoredModal>
</CascadingAuthenticationState>
